[Unit]
Description=Run Fiesta tracker log rotation daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
